page-login {
    .fondo{
        background-image: url("/assets/imgs/fondoLogin.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .tope{
        margin-top: 22em;
    }
    .azulSicma{
        background: #0078b6;
        border-radius: 75px;
    }
    .login{
    background: rgba(218, 218, 218, 0.9019607843137255);
    color: black;
    border-radius: 5px;background: rgba(218, 218, 218, 0.9019607843137255);
    color: black;
    border-radius: 5px;
    }

    .tamano{
        height: 47px;
    }
    .fondo_rojo{
        background: rgba(229, 10, 10, 1);
        border-radius: 75px;
      }
      .text-right{
        text-align: right; 
    }
    .colorLetra{
 color: #0078b6;
    }
    .color_negro{
        color:black;
    }
}
  
