page-login {
    .fondo{
        background-image: url("/assets/imgs/fondoLogin.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .margen-inferior{
        margin-bottom: 24px;
    }
    .azulSicma{
        background: #0078b6;
        border-radius: 5px;
    }
    .login{
   
    border-radius: 5px;
    color: black;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(173,173,173,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(173,173,173,1);
    box-shadow: 5px 5px 5px 0px rgba(173,173,173,1);
    margin-bottom: 10px;

    }


    .fondo_rojo{
        background: rgba(229, 10, 10, 1);
        border-radius: 75px;
      }
      .text-right{
        text-align: right; 
    }
    .colorLetra{
     color: #0078b6;
    }
    .color_negro{
        color:black;
    }
}
  
