page-login {
    .fondo{
        background-image: url("/assets/imgs/fondoLogin.png");
        background-size: 352px 612px;
        background-repeat: no-repeat;
    }

    .tope{
        margin-top: 22em;
    }
    .azulSicma{
        background: #0078b6;
        border-radius: 5px;
    }
    .login{
    background: rgba(218, 218, 218, 0.9019607843137255);
    color: black;
    border-radius: 5px;background: rgba(218, 218, 218, 0.9019607843137255);
    color: black;
    border-radius: 5px;
    }

    .tamano{
        height: 47px;
    }
}
