page-resultado-calculo {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #222;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }


      .fondo{
        background-image: url("/assets/imgs/fondo3.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .color_negro{
      color:black;
  }
    .fondo_rojo{
      background: rgba(229, 10, 10, 0.68);
    }
    .fondo_azul{
        background: rgba(0, 120, 182, 0.75)
      }

    .blanco{
      color: white;
    }

    .toolbar-background-md{
      background: transparent !important;
  }
  .header-md::after {
    position: relative;
}
    .margin_ri_34{
        margin-right: 34px;
    }
    .margin_ri_39{
        margin-right: 39px;
    }
    .aling_left{
      text-align: left;
      margin-left: -21px;
  }
  .aling_center{
    text-align: center;
}

  .tipoLetra{
    font-size: 15px;
  }
  .color_verde{
    color: #17630b;
  }
  .color.azul{
   color: #0078b6;
  }
  .color_gris{
    background: #e1e1e1;
  }
  .style_text{
    font-size: 25px;
    margin-left: 3px;
    margin-top: 5px;
    color: #fff;
    font-weight: 700;
  }
  .tam_15{
    font-size: 18px;
  }
  .tam_16{
    font-size: 16px;
  }
  .fab-md{
    background: rgb(229, 10, 45);
  }
  .fab-ios{
    background: rgb(229, 10, 45);
  }

  .interna{

  
    .groupTabs{
        text-align: center;
      
        border-right-color: white;
        border-right-style: inset;
       }

    .tab{
        font-size: 18px;
        background-color: #e50a2d;
        color: white;
      
    }
    .tab1{
        text-decoration: underline;
    }

    .toolbar-background-md{
        background-color: #e50a2d;
 
    }
    .tab:hover{
        text-decoration: underline;
    }
    .toolbar-title-md{
      font-size: 18px !important;
    } 

}

.div-total{
  background-color: #80b3fc;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 8px 10px 9px 2px rgba(209,209,209,1);
-moz-box-shadow: 8px 10px 9px 2px rgba(209,209,209,1);
box-shadow: 8px 10px 9px 2px rgba(209,209,209,1);
}
}
