// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.style_card{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.img_card{
    max-height: 215px;

}
.style_header{
    font-size: 20px;
    margin-bottom: 3px;
}
.item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #fff;
    -webkit-box-shadow: inset 0 -1px 0 0 #fff;
    box-shadow: inset 0 -1px 0 0 #fff;
}

 .toolbar-title-md{
    color:white !important;
}
.back-button{
    color:white;
}

 .texto-seleccion{
    text-align: center;
    font-size: 16px;
    padding-right: 19px;
    font-weight: 500;
}

.titulos-card{
    font-weight: 700 !important;
}

