page-elemento {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #222;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }


      .fondo{
        background-image: url("/assets/imgs/fondo3.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .fondo_rojo{
      background: #5096fd;
    }

    .blanco{
      color: white;
    }

    .toolbar-background-md{
      background: transparent !important;
    }
    .header-md::after {
      position: relative;
     }


    .aling_left{
      text-align: left;
  }
  .color_negro{
    color:black;
}



.div-descripcion{
  margin-bottom: 22px;
  border-radius: 5px;
  background-color: #fff;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  
}
.separado-flex{
  display: flex;
  justify-content: space-between;
}

.style-btn-home{
  height: 23px;
  color: #3960a7;
  background-color: #fafafb;
}

}
