page-elemento {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #222;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }


      .fondo{
        background-image: url("/assets/imgs/fondo.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .fondo_rojo{
      background: rgba(229, 10, 10, 0.68);
    }

    .blanco{
      color: white;
    }

    .toolbar-background-md{
      background: rgba(236, 207, 207, 0.8588235294117647);
      opacity: 0.7;

    }
    .toolbar-content-md{
      text-align: center;
    color: rgb(81, 77, 77);
    font-size: 15px;
    font-weight: bold;
    }
    .toolbar-title-md{
      font-size: 24px;
    font-weight: bold;
    color: rgb(81, 77, 77);
    }

    .aling_left{
      text-align: left;
  }
}
