<!--
  Generated template for the InventarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pedido</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page fondo">

    <button (click)="agregarProducto()" ion-button full class="azulSicma tamano">Agregar Producto</button>

    <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
    
    <!-- <ion-list>
        <button ion-item *ngFor="let producto of productos" (click)="abrirPedido(producto)">
          {{producto.nombre}}
        </button>  
      </ion-list> -->
  
<ion-card class="desing-card" *ngFor="let producto of pedido" >
<ion-card-content>
 <h3 class="negrita">{{producto.Descripcion}}</h3>
 <ion-row>
   <ion-col col-6><p><span> Stock: </span>{{producto.Stock}}</p></ion-col>
   <ion-col col-6><p> <span> Precio: </span>$ {{producto.Precio}}</p></ion-col>  
 </ion-row>
 <ion-row>
   
 </ion-row>
</ion-card-content>
</ion-card>
<ion-fab right bottom>
  <button ion-fab  (click)= "terminarPedido()"><ion-icon name="checkmark"></ion-icon></button>
</ion-fab>
</ion-content>
