page-historial {

    .fondo{
        background-image: url("/assets/imgs/fondo3.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .toolbar-background-md{
        background: transparent !important;
    }
    .header-md::after {
        position: relative;
    }

    .style-card{
        padding: 7px;
        border-top-right-radius: 34px;
        background: rgba(147,206,222,1);
        background: -moz-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(116,152,207,1) 41%, rgba(73,102,189,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(116,152,207,1)), color-stop(100%, rgba(73,102,189,1)));
        background: -webkit-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(116,152,207,1) 41%, rgba(73,102,189,1) 100%);
        background: -o-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(116,152,207,1) 41%, rgba(73,102,189,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(116,152,207,1) 41%, rgba(73,102,189,1) 100%);
        background: linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(116,152,207,1) 41%, rgba(73,102,189,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#4966bd', GradientType=1 );
    }

    .style-label{
        color: black;
        font-weight: bold;
    }

    .style-h4{
        color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    }

    .style-p{
        color: black;
    }
}
